.editing-main {
    width: 800px;
    display: flex;
    margin: auto;
    border: 1px solid;
}
.editing-side-content{
    width: 250px;
    border-right: 1px solid;
}
.page-title {
    margin-left: 20px;
}
.page-title a {
    margin-right: 20px;
}
.rigth {
    margin-left: 20px;
}
.text-top {
    margin: 0;
}
.text-second {
    margin: 0;
    margin-top: 10px;
}
.text-serd {
    margin: 0;
    margin-top: 10px;
}
