.home-main {
    height: 500px;
    display: flex;
    max-width: 1200px;
    margin: auto;
    border: 1px solid;
}
.side-menu a {
    margin-left: 10px;
}
.home-page-title {
    display: flex;
    padding: 10px ;
}
.home-page-title a {
    color: black;
    text-decoration: none;
    margin: 0 0 0 auto;
}

.home-main-content {
    width: 1000px;
}
