.main{
    display: flex;
    max-width: 1200px;
    margin: auto;
    border: solid 1px;
    font-family:none;
    font-size: none;
    text-decoration: none;
}

.main-content {
    width: 1000px;
    margin: 10px auto;
}

.side-content {
    border-right: 1px solid;
}
.side-title h5 {
    background-color: aquamarine;
    padding: 10px 10px;
}

.side-menu {
    margin-left: 10px;
}

.side-menu a {
    text-decoration: none;
    color: black;
}

.page-title {
    display: flex;
}

.page-title a {
    margin: 0 0 0 auto;
}

.title,h2 {
    color: rgb(31, 31, 33);
}

.test {
    border-top: none;
    border-left: none;
}

.test form {
    margin: auto;
    color: brown;
}

.tr,th,td {
    border: solid 1px;
    text-decoration: none;
}

.td-detail{
        border: solid 1px;
    text-decoration: none;
    border-right:  none;
}

.span-detail{
    float: left;
    text-decoration: none;
}

.button-detail{
    width: max-content;
    display:flex;
    margin: none;
    outline: none;
    line-height:1.6;
}

.span-opertion{
    display:flex;
    float: right;
}

.button-hover-editing {
    font-family: 'Reggae One', cursive;
    border-radius: 0.3em;
    background: linear-gradient(to right, #5bbee5, #52ddae);
    display:block;
    font-size: 17px;
    color:#fff;
    margin: 0px 5px;
    padding:0px 20px;
}

.button-hover-editing:before {
    content: "編集";
    font-size: 17px;
    color: #fff;
    display:block;
}
.button-hover-editing:hover:before {
    content: "edit";

}

.button-delete {
    font-family: 'Reggae One', cursive;
    border-radius: 0.3em;
    font-size: 17px;
    color:#fff;
    background: linear-gradient(to top, #444747, #fa0505);
    display:block;
    margin: 0px 5px;
    padding:0px 20px;
}
