.main{
    display: flex;
    max-width: 1200px;
    margin: auto;
<<<<<<< HEAD
    border: solid 1px;
=======
    border: 1px solid;
>>>>>>> d926190a156b5e4adb5e99bf6efea871ae8e8423
}

.main-content {
    width: 1000px;
    margin: 10px auto;
}

.side-content {
<<<<<<< HEAD
    padding: 10px 0;
    border-right: solid 1px;
}

.side-menu {
    margin-top: 20px;
=======
    border-right: 1px solid;
}
.side-title h5 {
    background-color: aquamarine;
    padding: 10px 10px;
}

.side-menu {
    margin-left: 10px;
}

.side-menu a {
    text-decoration: none;
    color: black;
>>>>>>> d926190a156b5e4adb5e99bf6efea871ae8e8423
}

.page-title {
    display: flex;
}

.page-title a {
    margin: 0 0 0 auto;
}

.title,h2 {
    color: rgb(45, 48, 44);
}

.tr,th,td {
    border: solid 1px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}
