@import url('https://fonts.googleapis.com/css?family=Sacramento');


caption {
    padding: 30px;
    caption-side: bottom;
    font-size: 3rem;
    text-align: center;
        font-family: 'Sacramento', cursive;
}

table {
    border-collapse: collapse;
    border: 2px solid rgba(238, 20, 20, 0.625);
    letter-spacing: 1px;
    font-size: .8rem;
        background-color: rgb(103, 225, 241);

}
input {
    width: 400px;

}

td,
th {
    border: 1px solid rgb(164, 216, 86);
    padding: 15px 5px;
    font-size: .8rem;


}

th {
    background-color: rgb(103, 225, 241);
}

.add-title{
        background-color: rgb(125, 203, 231);

}

td {
    text-align: center;

}

tr:nth-child(even) td {
    background-color: rgb(230, 70, 70);
}

tr:nth-child(odd) td {
    background-color: rgb(125, 203, 231);
}

.heman {
    font: 3rem molot;
    text-shadow: 1px 1px 1px #fff, 2px 2px 1px #000;
}

.skeletor {
    font: 1.7rem rapscallion;
    letter-spacing: 3px;
    text-shadow: 1px 1px 0 #fff, 0 0 9px #000;
}
