@import url("https://fonts.googleapis.com/css?family=Sacramento");


caption {
    padding: 30px;
    caption-side: bottom;
    font-size: 5rem;
    text-align: center;
    font-family: "Sacramento", cursive;
    color: rgb(253, 0, 0);
    text-shadow: 1px 1px 0 #fff, 0 0 9px #000;

}

table {
    border-collapse: collapse;
    border: 1.5px solid #0000009f;
    letter-spacing: 1px;
    font-size: 0.8rem;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
input {
    width: 300px;
}

input[type="submit"] {
    margin-left: 20px;
    margin-top: 20px;
    width: 120px;
}

.add-yohaku {
    text-align: left;
    padding-left: 30px;
}

td,
th {
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 5px;
    font-size: 0.8rem;
}

th {
    background-color: rgb(103, 225, 241);
}

.add-title {
    background-color: rgb(255, 255, 255);
    padding: 20px 1px 1px 60px;
    /* font-family: 'Dancing Script', cursive; */
}

td {
    text-align: center;
}

tr:nth-child(even) td {
    background-color: rgb(255, 255, 255);
}

tr:nth-child(odd) td {
    background-color: rgb(255, 255, 255);
}

.heman {
    font: 1.0rem molot;
    text-align: left;
    padding: 5px 5px 260px 30px;
    background-color: #fff;
    border-right: solid;
}

.skeletor {
    font: 0.9rem rapscallion;
    letter-spacing: 3px;
    text-shadow: 1px 1px 0 #fff, 0 0 9px #000;
    text-align: center;
    border-right: solid;
}

.yohaku {
    background-color: #fff;
    border-right: solid;
}


.side-reft{
    display: flex;
}
